@use '../../styles/shared/variables' as *;

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    height: 100%;

    body {
        @include set-color(white, background-color);
        font-family: 'IBM Plex Mono', monospace;
        overflow: hidden;
        height: 100%;

        .scroll-container {
            overflow: hidden;

            .pin-spacer {
                width: 100% !important;
            }
        }
    }
}