@use 'colors' as *;

/* GENERICS */

@mixin set-background-image($image, $position, $size, $height, $opacity: 0) {
    background:
        linear-gradient(rgba(0, 0, 0, $opacity), rgba(0, 0, 0, $opacity)),
        url($image) no-repeat $position/$size;
    background-size: $size;
    @include set-sizes(100%, $height);
}

@mixin set-border($side, $width: 1px) {
    border-#{$side}: $width solid;
    @include set-color(black, border-color);
}

@mixin set-horizontal-line($use-container: false, $size: 20px) {
    .line_separator {
        @if $use-container {
            @include set-container-px($size, $property: 'margin');
        }

        @include set-border('top');
    }
}

@mixin set-button($padding-y, $padding-x) {
    border-radius: 200px;
    padding: $padding-y $padding-x;
}

@mixin set-flex($justify: flex-start, $align: stretch, $gap: 0, $flow: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-flow: $flow;
}

@mixin set-absolute($right: 0, $bottom: 0) {
    position: absolute;
    right: $right;
    bottom: $bottom;
}

@mixin set-relative($top: 0, $left: 0) {
    position: relative;
    top: $top;
    left: $left;
}

@mixin set-sizes($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

/* SPECIFICATIONS */

@mixin set-container-px($size: 20px, $property: 'padding') {
    #{$property}: 0 $size;
}