@use 'colors' as *;

@mixin set-background-image($image, $position, $size, $height) {
    background: url($image) no-repeat $position/$size;
    @include set-sizes(100%, $height);
}

@mixin set-border($side) {
    border-#{$side}: 1px solid;
    @include set-color(black, border-color);
}

@mixin set-button($radius: 200px, $padding-y: 5px, $padding-x: 20px) {
    @include set-color(black, background-color);
    border-radius: $radius;
    padding: $padding-y $padding-x;
}

@mixin set-flex($justify: flex-start, $align: stretch, $gap: 0, $flow: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-flow: $flow;
}

@mixin set-relative($top: 0, $left: 0) {
    position: relative;
    top: $top;
    left: $left;
}

@mixin set-sizes($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

/* ELEMENTS */

@mixin set-container-px() {
    padding: 0 20px;
}