@use '../../styles/shared/variables' as *;

.services_container {
    @include set-flex(space-between, $gap: 10px);
    @include set-container-px();
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 162px;
}