@use '../../styles/shared/variables' as *;
@use '../../styles/config/responsivities' as *;

.card_container {
    @include set-flex(space-between, center, 216px, column);
    flex: 1;

    &:not(:last-child) {
        @include set-border('right');
    }

    &:first-child .card:first-child .card_image {
        /* Blur */
    }

    .card {
        @include set-flex(space-between, $gap: 7.5px, $flow: column);
        @include set-sizes(100%);
        padding: 0 10px;

        .card_image {
            @include set-sizes(100%);
        }

        .card_info {
            @include set-flex(space-between);

            .card_info_name {
                @include set-typography(small-2, light);
            }

            .card_info_year {
                @include set-typography(small-2, meddium);
            }
        }
    }
}

/* SINGLE CARDS */

.card-first-mt {
    margin-top: 70.112%;
}

.card-second-mt {
    margin-top: 33.46%;
}

/* RESPONSIVENESS */

@include responsive-priority();