@use '../../styles/shared/variables' as *;
@use '../../styles/config/responsivities' as *;

.card_container {
    @include set-flex(space-between, center, 216px, column);
    flex: 1;

    &:not(:last-child) {
        @include set-border('right');
    }

    .card {
        @include set-flex(space-between, $gap: 7.5px, $flow: column);
        padding: 0 10px;

        .card_assets {
            @include set-relative();
            @include set-flex();

            .card_assets_link {
                @include set-flex();
                @include set-sizes(100%);

                &:hover .card_assets_link_hidden {
                    opacity: 1;
                }

                .card_assets_link_image {
                    @include set-sizes(100%);
                    object-fit: cover;
                }

                .card_assets_link_hidden {
                    opacity: 0;
                    transition: .5s ease-in-out;

                    .card_assets_link_hidden_image {
                        @include set-absolute(50%, 50%);
                        transform: translate(50%, 50%);
                        object-fit: cover;
                    }

                    .card_assets_link_hidden_image:nth-child(1) {
                        @include set-sizes(100%);
                        z-index: 1;
                    }

                    .card_assets_link_hidden_image:nth-child(2) {
                        @include set-sizes(86.7%);
                        z-index: 2;
                    }

                    .card_assets_link_hidden_image:nth-child(3) {
                        @include set-sizes(78%);
                        z-index: 3;
                    }

                    .card_assets_link_hidden_image:nth-child(4) {
                        @include set-sizes(72%);
                        z-index: 4;
                    }
                }
            }
        }

        .card_info {
            @include set-flex(space-between);

            .card_info_name {
                @include set-typography(small-2, light);
            }

            .card_info_year {
                @include set-typography(small-2, meddium);
            }
        }
    }
}

/* SINGLE CARDS */

.card-first-mt {
    margin-top: 70.112%;
}

.card-second-mt {
    margin-top: 33.46%;
}

/* RESPONSIVENESS */

@include responsive-priority();