@use '../../styles/shared/variables' as *;

.banner_container {
    @include set-container-px();
    @include set-sizes($height: 984px);
    padding-bottom: 20px;

    .banner_background {
        @include set-background-image('../../assets/images/chrysanthemum.jpg', center, cover, 100%);

        .banner_name {
            @include set-flex($justify: end, $flow: column);
            @include set-sizes($height: 568px);
            @include set-color(white, background-color);
            mix-blend-mode: screen;
            
            .banner_name_first {
                margin-left: 58px;
                @include set-typography-merienda();
            }

            .banner_name_second {
                @include set-relative($left: -5px);
                @include set-typography(large-1, semibold);
            }
        }
    }
}