@use '../../styles/shared/variables' as *;
@use '../../styles/config/responsivities' as *;

.cta_container {
    @include set-flex();
    @include set-relative();
    @include set-color(black, background-color);
    @include set-sizes(100%, 200vh);

    .cta_background {
        @include set-background-image('../../assets/images/marfie_crisantemoq.png', bottom, contain, 100vh);
        @include set-flex(center, center);
        mix-blend-mode: lighten;
        overflow: hidden;
        position: sticky;
        top: 0;

        .cta_heading {
            @include set-absolute(auto, auto);
            @include set-typography(large-3, semibold, white);
            @include set-typography-layout(uppercase, 1.91px);
            @include set-sizes(100%);
            text-align: center;
        }

        .cta_heading_filled {
            mix-blend-mode: darken;
        }

        .cta_heading_outline {
            color: transparent;
        }

        .cta_brief {
            @include set-absolute(92px, 77px);
            @include set-typography(heading-5, regular, white);
            @include set-sizes(280px);
        }
    }
}

/* RESPONSIVENESS */

@include responsive-priority();