@use '../../styles/shared/variables' as *;
@use '../../styles/config/responsivities' as *;

.projects_container {
    @include set-flex($flow: column);
    @include set-container-px();
    overflow: hidden;

    .projects_animation_container {
        @include set-flex();
        overflow: hidden;
    }

    .project_cards {
        @include set-background-image('../../assets/images/projects.png', center, 90.6% 100%, fit-content);
        @include set-flex();
        @include set-border('top');
        padding: 50px 0;
    }
}


/* RESPONSIVENESS */

@include responsive-priority();